legend {
	margin-left: auto;
	margin-right: auto;
}

p {
	margin: 0;
}

hr {
	border: 0;
	height: 1px;
	background: #555;
	margin: 12px auto;
}

.ph3-l {
	padding-top: 6px;
	padding-bottom: 6px;
}

fieldset {
	margin-bottom: 6px;
	padding-bottom: 8px;
}

.scoring-system-button {
	padding: auto;
}

#submitButton {
	display: block;
	margin: 6px auto 0px;
}

.measure-wide {
	max-width: 40em;
}

#gameUrlInput {
	width: 100%;
	font-size: 15px;
	text-align: center;
}

.submit-button-div {
	text-align: center;
}

#scoring-table {
	border-collapse: collapse;	/* not sure if I like it? */
	margin-left: auto;
	margin-right: auto;
}

.scoring-row, .scoring-column {
	border: 1px solid #555555;
	font-weight: normal;
	color: #111111;
	text-align: center;
	padding: 6px;
}

.center-count-button {
	border: 0px solid #555555;
	border-radius: 5px;
	padding: 0px;
	text-align: center;
	vertical-align: middle;
	background: none;
}

.column-break {
	padding: 4px 2px;
	background-color: lightgrey;
}

.year-eliminated-input {
	text-align: right;
	width: 70px;
	font-style: italic;
	font-size: 18px;
}

.austria-color {
	background-color: #C48F85;
}

.england-color {
	background-color: #EFC4E4;
}

.france-color {
	background-color: #79AFC6;
}

.germany-color {
	background-color: #A08A75;
}

.italy-color {
	background-color: #A4C499;
}

.russia-color {
	background-color: #A87E9F;
}

.turkey-color {
	background-color: #EAEAAF;
}

/* Responsive styling for phones */
@media screen and (max-width: 768px) {
	nav {
		text-align: center;
		height: 50px;
	}

	.dib {
		font-size: 20px;
	}

	.scoring-column {
		font-size: 10px;
	}

	.year-eliminated-input {
		width: 32px;
		font-size: 10px;
	}

	.navbar {
		padding-bottom: 1em;
	}

	hr {
		margin: 8px auto;
	}

	.scoring-system-button {
		margin: 4px 3px;
	}

	#hr1 {
		margin: 4px auto 12px;
	}

	#hr2 {
		margin: 12px auto 4px;
	}

	footer {
		text-align: center;
		height: 50px;
	}
}

.pb5 {
	padding-bottom: 1rem;
}

.dn {
	display: inherit;
	margin: auto;
	text-align: center;
}

/* Hide certain scoring systems (and year elim) initially */
.year-eliminated, .armada, .ppsc, .sos, .mind-the-gap, .open-tribute {
	display: none;
}